# Supported versions

Fixes and updates are in general only merged to the main branch and not backported
to older versions. The only supported version is the latest version.

# Reporting vulnerabilities

If you find a vulnerability or security issue in this library, we ask you to practice
responsible disclosure by notifying us before making the discovery public. Please report
the issue via Github's [Report a vulnerability] functionality.
This allows us to take action and potentially fix the issue before it is made public,
where it could be used to cause harm.


<!-- Feel free to replace this URL with a direct link to the repository's advisory page -->
[Report a vulnerability]: https://docs.github.com/en/code-security/security-advisories/guidance-on-reporting-and-writing-information-about-vulnerabilities/privately-reporting-a-security-vulnerability
